@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #000000;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #020202;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #ffffff;
    min-width: 400px;
}

.header{
    background-color: #1c2653;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}
.idioma {
  display: flex; /* Utilizamos flexbox para alinear las imágenes */
}

.idioma img {
  width: 50px; /* Establecemos un ancho específico para las imágenes */
  height: auto; /* Mantenemos la proporción de aspecto */
  margin-right: 30px; /* Añadimos un margen a la derecha para separar las imágenes */
}


.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover,
/**/.overlay a:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1; 
}

.header .nav-links a:hover{
    color: #ffbc0e;
}

/**/.menu {
    display:none;
}

.header .btn button,
/**/.header .menu button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover,
/**/.header .menu button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

/*Nav Mobile*/

.header a{
    text-decoration: none;  
    /*borramos el que teniamos en .header .nav-links a*/ 
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(33, 49, 63, .95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}

.header .overlay a:hover, 
.header .overlay a:focus{
    color: #ffbc0e;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}
/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */
@media screen and (max-height:450px) {
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animación de difuminado para el texto */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 37.5rem;
  width: 37.5rem;
  animation: fadeInLeft 1s ease-out;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  animation: fadeInRight 1s ease-out;
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}
 /* Animación de difuminado para la sección de habilidades */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Skills section */
.skills {
  max-width: 48.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  animation: fadeInUp 1s ease-out;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Esto crea 3 columnas */
  gap: 0.5rem; /* Espacio entre los elementos */
  justify-content: center; /* Centra los elementos horizontalmente */
}
.skills-wrapper .first-set {
  width: 100%;
}
.icon {
  width: 11.875rem;
  height: 11.25rem;
}

/* Add this CSS for positioning the percentage */
.first-set {
  position: relative; /* Ensure the container is positioned */
}

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro transparente */
  padding: 0.5rem; /* Añade un poco de espacio alrededor del porcentaje */
  border-radius: 5px; /* Borde redondeado */
  opacity: 0; /* Inicia con opacidad 0 */
  transition: opacity 0.3s ease;
}

.first-set:hover .percentage {
  opacity: 0.9; /* Muestra el porcentaje con una opacidad más alta al pasar el mouse */
}

/* Skills section ends */

  
 /* Animación de difuminado para la sección de proyectos */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Projects section */
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
  animation: fadeInUp 1s ease-out;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

/* Projects section ends */


    /* Animación de difuminado para la sección de contacto */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Contact */
.contact {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  animation: fadeInUp 1s ease-out;
}

.contact-header {
  margin-bottom: 1rem;
}

.contact-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
/* Skills section ends */


  /* Footer section */
footer {
  background-color:  #1c2653;
  color: white; 
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */

  /* General (utilities) */
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

  /**/@media screen and (max-width: 900px){
    .nav-links, .btn {
        display: none;
    }
    .menu {
        display: inherit;
    }
    .hero {
        margin-top: 1rem;
        flex-direction: column;
        gap: 0;
      }
    
      .hero img {
        height: 20.5rem;
        width: 20rem;
      }
    
      .bio {
        margin-top: 1rem;
        width: 20.5rem;
      }
      .icon {
        width: 5.875rem;
        height: 5.25rem;
      }
    
      .projects-container {
        flex-direction: column;
      }
    
      .project-container {
        width: 20.875rem;
      }
    
    
}